@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans Display', sans-serif;
}

:root{
    --alliceBlue: #E7ECEF;
    --yaleBlue: #274C77;
    --lapiz: #365F88;
    --frost: #6096BA;
    --blueEye: #A3CEF1;
    --lightGrey: #97ADBD;
    --grey: #8B8C89;
    --independence: #3D405B;
}

#Landing{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;

}

#photoBox{
    position: relative;
    width: 50%;
    background-color: var(--yaleBlue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#photoBoxText{
    background-color: var(--lightGrey);
    box-shadow: var(--alliceBlue) 5px -5px,
    var(--lapiz) 10px -10px,
    var(--alliceBlue) 15px -15px,
    var(--frost) 20px -20px;

    padding: 1rem;
}

#photoBox img{
    box-shadow: var(--alliceBlue) 5px -5px,
    var(--lapiz) 10px -10px,
    var(--alliceBlue) 15px -15px,
    var(--frost) 20px -20px;
    height: 70%;
    left: 5%;
    width: auto;
    max-width: 50%;
    max-height: 100%;
}

#langBox{
    width: 50%;
    background-color: var(--blueEye);
}

#footer{
    font-family: 'Lato', sans-serif;
    color: white;
    width: 100%;
    background-color: var(--independence);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top:0.5em;
    padding-bottom: 0.5em;
}

#footer > * {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
}

#footer img{
    height: 2rem;

    margin: auto;
}

#footer h1{
    font-size: 2rem;
    text-decoration: underline;
}