@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');



body{
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    background: var(--fullblue);
}

/* width */
::-webkit-scrollbar {
    width: 2vh;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

:root{
    font-family: 'Source Code Pro', monospace;
    --yellow: #393d42;
    --redish: #F76C6C;
    --lightBlue: #A8D0E6;
    --blue: #374785;
    --fullblue: #24305E;
    --lessRed: #C35D69;
    --lavinder: #744764;
}

#landing{
    position: relative;
    background-image: url("assets/landImg1.jpg");
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slideRight{
    animation: slideRight 2s;
}

.slideLeft{
    animation: slideLeft 2s;
}

.slideIn{
    animation: slideUp 2s;
}


.noView{
    visibility: hidden;
}

.progress {
    height: 10px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    /*width: calc(var(--scroll) * 50%);*/
    width: var(--scroll-per);
    z-index: 10;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #e1dcdc, 0 0 30px #e1dcdc,
    0 0 40px #f76c6c, 0 0 55px #f76c6c, 0 0 75px #f76c6c;
}

.progress span {
    padding: 1rem;
}

#arrowBox{
    position: absolute;
    bottom: 0;
    left: 46%;
    z-index: 10;
    width: 15%;
    height: 15%;

    animation: jumpUpDown 1s infinite alternate;
}

#arrow{
    max-width: 100%;
    max-height: 100%;
}


#landingText{
    box-shadow: black 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#titleTextLeftBox{
    width: 50%;
    background: var(--blue);
}

#titleTextLeft{
    color: #F76C6C;
    text-align: center;
    font-size: 3em;
}

#titleTextRightBox{
    background: var(--fullblue);
    width: 50%;
}

#titleTextRight{
    color: white;
    text-align: center;
    font-size: 3em;
}

#nav{
    background: #F76C6C;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 1em;

    color: black;
    text-decoration: underline;
}

#nav p{
    font-size: 1.5em;
    padding-top: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
}

#nav h1 {
    padding-left: 1em;
    padding-top: 0.7em;
    padding-right:  1em ;
    font-size: 2em;
}

#nav a:hover{
    background: black;
    color: #F76C6C;
}

#langLeft{

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#photoBox{
    position: relative;
    width: 30%;
    background-color: var(--redish);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#portrait{
    box-shadow: black 10px 10px;
    height: 70%;
    left: 5%;
    width: auto;
    max-width: 80%;
    max-height: 100%;
}


#langBox{
    width: 70%;
    background-color: var(--fullblue);

    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
}

#langBox h1{
    font-size: 3rem;
    padding: 1rem;
    color: var(--redish);
}


#langBox p{
    font-size: 2rem;
    padding-left: 2em;
    color: black;
}


#bring{
    background: var(--lessRed);
    min-height: 100vh;
    padding: 3em;
}

#bring h1{
    font-size: 4em;
    color: white;
}

#bring p{
    padding-left: 3em;
    font-size: 3em;
    color: black;
}

#projects{
    padding: 3em;
    min-height: 110vh;
    background-color: var(--lavinder);
}

#projects h1{
    font-size: 4em;
    color: white;
}


#titleCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.card{
    padding: 3em;
    margin: 2em;
    background: white;
    box-shadow: black 10px 10px;
}

#titleCards p{
    font-size: 2em;
}

#titleCards img {
    max-height: 15em;
    float: left;
    padding: 3em;
}

#quail{
    min-height: 100vh;
    background: var(--fullblue);
}

#quail h1{
    font-size: 3em;
    padding: 1em;
    color: white;
}

#quail h2{
    font-size: 2em;
}

#quail li{
    font-size: 2em;
}

#footer{

    font-family: 'Lato', sans-serif;
    color: white;
    width: 100%;
    background-color: var(--redish);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

#footer > * {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
}

#footer img{
    height: 2rem;
    margin: auto;
}

#footer h1{
    font-size: 3rem;
    text-decoration: underline;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(+50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes jumpUpDown {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(20px);
    }
}

@media (max-device-width: 600px){
    #photoBox{
        position: relative;
        width: 100%;
        background-color: var(--redish);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #langBox{
        width: 100%;
        background-color: var(--fullblue);
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: left;
    }
    #landing{
        position: relative;
        background-image: url("assets/landImg1.jpg");
        background-size: cover;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}