@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

:root{
    --eggshell: #F4F1DE;
    --terraCotta: #E07A5F;
    --independence: #3D405B;
    --greenShade: #81B29A;
    --deepChampagne: #F2CC8F;
    --blackCoral: #4E5D6B;
}



#footer{
    color: var(--eggshell);
    width:  100%;
    background-color: var(--independence);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
}

#footer > * {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;    border-radius: 10px;
    background-color: var(--blackCoral);
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
}

#footer h1{
    font-size: 1.2rem;
    text-decoration: underline;
}